<tr>
  <td class="bs-img">
    <% if variant.images.length == 0 %>
      <%= link_to small_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
    <% end %>
  </td>
  <td class="bs-name">
    <%= link_to variant.product.name, product_path(variant.product) %>
    <% if @order.insufficient_stock_lines.include? line_item %>
        <%= variant.in_stock? ? t(:insufficient_stock, :on_hand => variant.on_hand) : t(:out_of_stock) %><br />
    <% end %>
  </td>
  <td class="bs-price">
    <%= number_to_currency line_item.price %>
  </td>
  <td class="bs-x">X</td>
  <td class="bs-quantity">
	<div class="bb-quantity">
    <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
	</div>
  </td>
  <td class="bs-itogo">
    <span><%= number_to_currency(line_item.price * line_item.quantity) unless line_item.quantity.nil? %></span>
    <%= link_to "удалить", '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
  </td>
</tr>

