	<div id="middle">
		<div class="middle-idx">
			
			<%= render :partial => 'spree/shared/taxonomies' %>
		
			<div class="right-idx">
				<ul class="bc bc-cat-item">
					<%= breadcrumbs(@taxon) %> 
				</ul>
				
				<div class="catalogue-element">
					<div class="ce-image-wrap">
						<span id="main-image" class="ce-image-l big-img">
							  <%= product_image(@product, :itemprop => "image") %>
						</span>
			
						<% if @product.images.size > 1 || @product.variant_images.size > 0 %>
						  <ul id="product-thumbnails" class="thumbnails inline" data-hook>
						    <% @product.images.each do |i| %>
						      <li class="tmb-all" id="tmb-<%= i.id.to_s %>"><%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:product) %></li>
						    <% end %>
						</ul>
						<% end %>
					</div>
		
					<div class="ce-text">
						<h2><%= accurate_title %></h2>

						<span class="ce-short-title">Краткое описание</span>
						<div class="content">
							<p><%= @product.short_description %></p>
						</div>
						
						<%= form_for :order, :url => populate_orders_url do |f| %>
						
						<% if @product.price %>
						
						<div class="buy-block">
							<%= button_tag :class => 'bb-button', :id => 'add-to-cart-button', :type => :submit do %>
				              <%= t(:add_to_cart) %>
				            <% end %>
							<div class="bb-quantity">
								<% if @product.has_stock? || Spree::Config[:allow_backorders] %>      
						            <%= number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
						              1, :class => 'title', :in => 1..@product.on_hand %>
							</div>
							<span class="bb-price"><%= number_to_currency @product.price %></span>
						</div>
					          <% else %>
					            <%= content_tag('strong', t(:out_of_stock)) %>
					          <% end %>
					    <% end %>    
						<% end %>
					</div>
				</div>
				
				<div class="ce-tabs">
				<ul>
					<li class="active"><a href="#descr-detail">подробное описание</a></li>
					<li><a href="#descr-media">Медиа, инструкции</a></li>
				</ul>
				
					<div class="ce-social-share">
						<script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
						<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div> 
					</div>
				</div>
				
				<div class="descr-block">
					
					
					
					<div class="content" id="descr-detail">
						<% if @product_properties.empty? %>
						<p>Подробное описание для данного товара отсутствует</p>
						<% else %>
						<% for product_property in @product_properties %>
						<p><%= product_property.property.presentation %>: <%= product_property.value %></p>
						<% end %>
						<% end %>
					</div>
					
					
					<div class="content" id="descr-media">
						<p>Инструкции для данного товара отсутствует</p>
					</div>
				</div>
				
				<% unless @related_products.blank? %>
				<span class="recom-title">с этим товаром также смотрят:</span>
				<ul class="catalogue-list cl-inside">
					<% @related_products.each do |product| %>
					<li class="<%= cycle("cl-item-first", "", "", "cl-item-four", :name => "classes") %>">
						<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url', :class => 'cl-img' %>
						<span class="cl-title"><%= link_to truncate(product.name, :length => 42), product, :itemprop => "name", :title => product.name %></span>
						<span class="cl-price"><%= number_to_currency product.price %></span>
						<%= link_to "купить", product, :class => "cl-buy" %>
					</li>
					<% end %>
				</ul>
				<% end %>
				
				<div class="payments"><img src="/img/payments.jpg" width="448" height="54" alt="Доступные способы оплаты"></div>
			</div>
		</div>
	</div>
	<div class="copyright">Allmusicmarket © 2012. Все права защищены, блять. Пошли все нахуй</div>
	<div class="footer-space"></div>
</div>