	<div id="middle">
		<div class="middle-idx">
			
			<%= render :partial => 'spree/shared/taxonomies' %>
		
			<div class="right-idx">
				<ul class="bc bc-cat-item">
					<%= breadcrumbs(@taxon) %> 
				</ul>
				
				<div class="catalogue-element">
					<div class="ce-image-wrap">
		
					        <div id="main-image" data-hook style="width: 300px; height: 247px;">
					          <%= render :partial => 'image' %>
					        </div>
					        <div id="thumbnails" data-hook>
					          <%= render :partial => 'thumbnails', :locals => { :product => @product } %>
					        </div>
			
					</div>
		
					<div class="ce-text">
						<h2><%= accurate_title %></h2>

						<span class="ce-short-title">Краткое описание</span>
						<div class="content">
							<p><%= @product.short_description %></p>
						</div>
						<div class="availability_status"><%= availability_status @product.availability_status %></div>
						
						<% unless @product.availability_status == 4 %>
						<%= form_for :order, :url => populate_orders_url do |f| %>
						<% if @product.price %>
						<div class="buy-block">
							<%= button_tag :class => 'bb-button', :id => 'add-to-cart-button', :type => :submit do %>
				              <%= t(:add_to_cart) %>
				            <% end %>
							<div class="bb-quantity">
								<% if @product.has_stock? || Spree::Config[:allow_backorders] %>      
						            <%= number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
						              1, :class => 'title', :in => 1..@product.on_hand %>
							</div>
							<span class="bb-price"><%= number_to_currency @product.price %></span>
							
						</div>
					          <% else %>
					            <%= content_tag('strong', t(:out_of_stock)) %>
					          <% end %>
					    <% end %>    
						<% end %>
						<% end %>
					</div>
				</div>
				
				<div class="ce-tabs">
				<ul>
					<li class="active"><a href="#descr-detail">подробное описание</a></li>
					<li><a href="#descr-media">Медиа, инструкции</a></li>
				</ul>
				
					<div class="ce-social-share">
						<script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
						<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div> 
					</div>
				</div>
				
				<div class="descr-block">
					
					
					
					<div class="content" id="descr-detail">
						<%= product_description(@product) rescue t(:product_has_no_description) %>
						
					</div>
					
					
					<div class="content" id="descr-media">
						<% if @product.videos.present? %>
						          <%= render 'video', :product => @product %>
						            <% else %>
						             <p>Инструкции для данного товара отсутствует</p>
						            <% end %>
						<% if @product.file? %> 
						<div class="instruction">
						<%= link_to image_tag('pdf.png'), @product.file, :class => 'pdf' %><br/>
						<%= link_to @product.name, @product.file %>
						</div>
						<% end %>
					</div>
				</div>
				
				<% unless @product.accessories.blank? %>
				<span class="recom-title">с этим товаром также смотрят:</span>
				<ul class="catalogue-list cl-inside">
					<% @product.accessories.each do |product| %>
					<li class="<%= cycle("cl-item-first", "", "", "cl-item-four", :name => "classes") %>">
						<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url', :class => 'cl-img' %>
						<span class="cl-title"><%= link_to truncate(product.name, :length => 42), product, :itemprop => "name", :title => product.name %></span>
						<span class="cl-price"><%= number_to_currency product.price %></span>
						<%= link_to "купить", product, :class => "cl-buy" %>
					</li>
					
					<% end %>
					</ul>

				<% end %>
				
				<div class="payments"><img src="/img/payments.jpg" width="448" height="54" alt="Доступные способы оплаты"></div>
			</div>
		</div>
	</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>