	<div id="middle">
		<div class="middle-idx">
			
			<%= render :partial => 'spree/shared/taxonomies' %>
		
			<div class="right-idx">
				<ul class="bc bc-cat-item">
					<%= breadcrumbs(@taxon) %> 
				</ul>
				
				<div class="catalogue-element">
					<div class="ce-image-wrap">
						<span id="main-image" class="ce-image-l big-img">
							  <%= product_image(@product, :itemprop => "image") %>
						</span>
			
						<% if @product.images.size > 1 || @product.variant_images.size > 0 %>
						  <ul id="product-thumbnails" class="thumbnails inline" data-hook>
						    <% @product.images.each do |i| %>
						      <li class="tmb-all" id="tmb-<%= i.id.to_s %>"><%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:product) %></li>
						    <% end %>
						</ul>
						<% end %>
					</div>
		
					<div class="ce-text">
						<h2><%= accurate_title %></h2>

						<span class="ce-short-title">Краткое описание</span>
						<div class="content">
							<p><%= product_description(@product) rescue t(:product_has_no_description) %></p>
						</div>
						
						<div class="buy-block">
							<a href="#" class="bb-button">Купить</a>
							<div class="bb-quantity">
								<input type="text" value="1" />
								<a href="#" title="Больше" class="plus"></a>
								<a href="#" title="Меньше" class="minus"></a>
							</div>
							
							<span class="bb-price"><%= number_to_currency @product.price %></span>
						</div>
					</div>
				</div>
				
				<div class="ce-tabs">
				<ul>
					<li class="active"><a href="descr-detail">подробное описание</a></li>
					<li><a href="descr-media">Медиа, инструкции</a></li>
				</ul>
				
					<div class="ce-social-share">
						<script type="text/javascript" src="http://yandex.st/share/share.js" charset="utf-8"></script>
						<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div> 
					</div>
				</div>
				
				
				<% unless @product_properties.empty? %>
				<div class="descr-block">
					<div class="content" id="descr-detail">
						<% for product_property in @product_properties %>
						<p><%= product_property.property.presentation %>: <%= product_property.value %></p>
						<% end %>
					</div>
				</div>
				<% end %>
				
				<span class="recom-title">с этим товаром также смотрят:</span>
				<ul class="catalogue-list cl-inside">
					<li class="cl-item-first">
						<a href="#" class="cl-img" title="Колонки KV2AUDIO KX15. в две строки"><img src="/img/picture/product-1-s.jpg" width="98" height="150" alt="Колонки KV2AUDIO KX15. в две строки"></a>
						<span class="cl-title"><a href="#">Колонки KV2AUDIO KX15. в две строки</a></span>
						
						<span class="cl-price">530 125 руб.</span>
						<a href="#" class="cl-buy">купить</a>
					</li>
					
					<li>
						<a href="#" class="cl-img" title="Колонки KV2AUDIO KX15. в две строки"><img src="/img/picture/product-1-s.jpg" width="98" height="150" alt="Колонки KV2AUDIO KX15. в две строки"></a>
						<span class="cl-title"><a href="#">Колонки KV2AUDIO KX15. в две строки</a></span>
						
						<span class="cl-price">530 125 руб.</span>
						<a href="#" class="cl-buy">купить</a>
					</li>
					
					<li>
						<a href="#" class="cl-img" title="Колонки KV2AUDIO KX15. в две строки"><img src="/img/picture/product-1-s.jpg" width="98" height="150" alt="Колонки KV2AUDIO KX15. в две строки"></a>
						<span class="cl-title"><a href="#">Колонки KV2AUDIO KX15. в две строки</a></span>
						
						<span class="cl-price">530 125 руб.</span>
						<a href="#" class="cl-buy">купить</a>
					</li>
					
					<li class="cl-item-four">
						<a href="#" class="cl-img" title="Колонки KV2AUDIO KX15. в две строки"><img src="/img/picture/product-1-s.jpg" width="98" height="150" alt="Колонки KV2AUDIO KX15. в две строки"></a>
						<span class="cl-title"><a href="#">Колонки KV2AUDIO KX15. в две строки</a></span>
						
						<span class="cl-price">530 125 руб.</span>
						<a href="#" class="cl-buy">купить</a>
					</li>
				</ul>
				
				<div class="payments"><img src="/img/payments.jpg" width="448" height="54" alt="Доступные способы оплаты"></div>
			</div>
		</div>
	</div>
	<div class="copyright">Allmusicmarket © 2012. Все права защищены, блять. Пошли все нахуй</div>
	<div class="footer-space"></div>
</div>