	<div id="middle">
		<div id="left">
			<ul class="l-menu">
				<li><%= span_link "Новости компании", '/news' %></li>
				<li><%= span_link "Статьи", '/articles' %></li>
				<li><%= span_link "Отзывы", '/comments' %></li>
			</ul>
		</div>
		<div id="right" class="news-list">
	
			<h1><%= @blog.name %></h1>
			
			<% if @posts.blank? %>
			<div style="min-height: 200px;">
		    <h2>Информации пока нет, но скоро будет!</h2>
			</div>
		  <% else %>
			<dl>
		    <%= render :partial => 'spree/blogs/shared/preview', :collection => @posts, :as => :post %>
			<dl>
		  <% end %>
			
			<ul class="paging">
			<%= paginate @posts %>
			</ul>
		</div>
	</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>