<div id="middle">
	<div id="left">
	</div>
	<div id="right" class="news-item">
		<div class="ni-back"><%= link_to "Назад, к новостям", blog_posts_path %></div>		
		<h1><%=h @post.title %></h1>
		<span class="ni-date"><%= h l(@post.posted_at, :format => :date_full).gsub(/\s0/, ' ') %></span>
		<div class="content">
			<%= @post.rendered_body %>
		</div>
		
	</div>
</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>