<% content ||= @content %>
<% image_size ||= :medium %>
<% html ||= false %>
<% content_counter ||= 0 %>

<% unless content.nil? %>
  
  
    
    	<div id="middle">
			<div id="left">
				 <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => Spree::MenuBar.find_by_name(content.title)} %>
			</div>
			<div id="right">
				<div class="content"  style="min-height: 300px">
					<% unless content.hide_title? %>
				        <h1><%= content.title %></h1>
				      <% end %>
				
					<% if content.has_image? %>
				        <%= image_tag content.attachment.url(image_size), :alt => content.title %>
					<br/>
					<br/>
				    <% end %>

					<%= content.rendered_body %>
					
				</div>
				
				<div class="payments"><img src="img/payments.jpg" width="448" height="54" alt="Доступные способы оплаты"></div>
			</div>
		</div>
		<%= render :partial => 'spree/shared/copyright' %>
		<div class="footer-space"></div>
	

<% end %>
