	<div id="footer">
		<div class="f-inside">
			<div class="fi-item">
				<ul>
					<li><a href="/howtobuy">Условия заказа</a></li>
					<li><a href="/delivery">Условия доставки</a></li>
					<li><a href="/contacts">Адреса магазинов</a></li>
					<li><a href="/partners">Для партнеров</a></li>
				</ul>

				<ul>
					<li><a href="/brands">Торговые марки</a></li>
					<li><a href="/articles">Статьи и обзоры</a></li>
					<li><%= link_to "инструкции", "/instructions" %></li>
				</ul>

				<ul>
					<li>&nbsp</li>
				</ul>
			</div>

			<div class="fi-item">
				<ul>
					<li><a href="/comments">Отзывы</a></li>
					<li><a href="/instructions">Руководства на русском</a></li>
					<li><a href="/news">Новости на сайте</a></li>
					<li><a href="http://vk.com/allmusicmarket">Мы Вконтакте</a></li>
				</ul>
				
				<ul>
					<li><%= link_to "о компании", '/about' %></li>
					<li><%= link_to "каталог товаров", products_path %></li>
					<li><%= link_to "как купить", "/howtobuy" %></li>
					<li><%= link_to "сервис", "/service" %></li>
				</ul>
			</div>

			<div class="fi-item">							
				<form accept-charset="UTF-8"  id="f-search" class="f-search" method="GET" action="/products">
					<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
					<input id="keywords" name="keywords" name="q" value="поиск по сайту" onfocus="if (value=='поиск по сайту') value='';" onblur="if (value=='') value='поиск по сайту';" />
					<input type="submit" value="Найти" title="Найти">
				</form>
				
				<div class="f-social" style="margin-top: 40px;">
					<a href="http://vk.com/allmusicmarket" target="_blank" title="Мы в Контакте" class="f-vk">Мы в Контакте</a>
					<a href="#" title="Мы в Facebook" class="f-fb">Мы в Facebook</a>
					<a href="#" title="Мы в LinkedIn" class="f-li">Мы в LinkedIn</a>
					<a href="#" title="Мы в Twitter" class="f-tw">Мы в Twitter</a>
				</div>
				
			</div>

			<div class="fi-item fi-item-last">
				<div class="f-notice">	
				Наш адрес: 195279, г. Санкт-Петербург,<br />
				г. Красное Село, ул. Свободы дом 53 корпус 3 литер А<br />
				Телефон: тел: (812) 984-5220<br />
				E-mail: <a href="mailto:info@allmusicmarket.ru">info@allmusicmarket.ru</a>
				</div>

				

				<div class="f-develop">
					<a href="http://zonazero.ru/" target="_blank" title="Zero b2b" class="zero-logo">Zero b2b</a>
					<span>сделано в <a href="http://zonazero.ru/" target="_blank" title="Zero b2b">zero b2b</a></span>
				</div>
			</div>
		</div>
	</div>