	<div id="middle">
		<div class="middle-idx">
		
		<%= render :partial => 'spree/shared/taxonomies' %>
		
			<div class="right-idx">
				<ul class="bc">
					<%= breadcrumbs(@taxon) %> 
				</ul>
				
				
				<% unless @taxon.nil? %>
				<div class="catalogue-filter">
					<a href="#" class="cf-goods-link">фильтр по товарам</a>
					
					<ul class="cf-sort">
						<li>сортировать:</li>
						<li><a href="#" class="active">по НАЗВАНИю</a></li>
						<li><a href="#">по НАЛИЧИю</a></li>
						<li><a href="#">по ЦЕНе</a></li>
					</ul>
					
					<br class="clear" />
					
					<div class="cf-goods">
						<span class="cg-title">сортировка товаров</span>
						<a href="#" title="Закрыть" class="cg-close">Закрыть</a>
						
						<ul class="cg-tabs">
							<li><a href="#cg-category" class="active" ><span>Выбрать по категории</span></a></li>
							<li><a href="#cg-brand"><span>Выбрать по производителю</span></a></li>
						</ul>
						
						<div class="cg-points" id="cg-category">
							<ul class="cp-flags">
								<li><a href="#" class="chack-all">Выбрать все</a></li>
								<li><a href="#" class="de-chack-all">Убрать все</a></li>
							</ul>
							
							<% @taxon.children.in_groups_of(1, false) do |row| %>
							  <ul class="cp-points-list">
								<% for taxon in row %>
								<li><input type="checkbox" name="dj-dj" id="dj-dj" checked><label for="dj-dj"><%= taxon.name %></label></li>  
								<% end %>   
							  </ul>
							<% end %>
							
							
						</div>
						
						<div class="cg-points" id="cg-brand">
							<ul class="cp-flags">
								<li><a href="#" class="chack-all">Выбрать все</a></li>
								<li><a href="#" class="de-chack-all">Убрать все</a></li>
							</ul>
							
							<ul class="cp-points-list">
								<li><input type="checkbox" name="xlr-xlr2" id="xlr-xlr2"><label for="xlr-xlr2">Кабели XLR-XLR</label></li>
								<li><input type="checkbox" name="col2" id="col2"><label for="col2">Колоночный кабель</label></li>
								<li><input type="checkbox" name="xlr2" id="xlr2"><label for="xlr2">Кабели джек-XLR</label></li>
								<li><input type="checkbox" name="other2" id="other2"><label for="other2">Кабели распаяные прочие</label></li>
								<li><input type="checkbox" name="ins2" id="ins2"><label for="ins2">Кабель инсертный</label></li>
							</ul>
							
							<ul class="cp-points-list">
								<li><input type="checkbox" name="rsa-xlr3" id="rsa-xlr3" checked><label for="rsa-xlr3">Мультимедийные кабели</label></li>
								<li><input type="checkbox" name="midi3" id="midi3"><label for="midi3">Мультипары</label></li>
								<li><input type="checkbox" name="other3" id="other3"><label for="other3">Стенды для демонстрации кабеля</label></li>
							</ul>
						</div>

						<div class="cf-sort-button"><a href="#">Применить сортировку</a></div>
					</div>
				</div>
				<% end %>
				
				<%
				  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
				  paginated_products ||= products
				%>
				<% if products.empty? %>
				  <%= t(:no_products_found) %>
				<% elsif params.key?(:keywords) %>
				  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
				<% end %>

				<% if products.any? %>
				<ul class="catalogue-list cl-inside">
				<% products.each do |product| %>
				<% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
				
					<li class="<%= cycle("cl-item-first", "", "", "cl-item-four", :name => "classes") %>">
						<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url', :class => 'cl-img' %>
						<span class="cl-title"><%= link_to truncate(product.name, :length => 42), product, :itemprop => "name", :title => product.name %></span>
						<span class="cl-price"><%= number_to_currency product.price %></span>
						<%= link_to "купить", product, :class => "cl-buy" %>
					</li>
					<% end %>
				<% end %>
				<% reset_cycle("classes") %>
				<% end %>
				</ul>
				<% if paginated_products.respond_to?(:num_pages) %>
				  <%= paginate paginated_products %>
				<% end %>
			</div>
		</div>
	</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>