	<div id="middle">
		<div class="middle-idx">
		
		<%= render :partial => 'spree/shared/taxonomies' %>
		
			<div class="right-idx">
				<ul class="bc">
					<%= breadcrumbs(@taxon) %> 
				</ul>
				
				<%
				  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
				  paginated_products ||= products
				%>
				<% if products.empty? %>
				  <%= t(:no_products_found) %>
				<% elsif params.key?(:keywords) %>
				  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
				<% end %>

				<% if products.any? %>
				<ul class="catalogue-list cl-inside">
				<% products.each do |product| %>
				<% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
				
					<li class="<%= cycle("cl-item-first", "", "", "cl-item-four", :name => "classes") %>">
						<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url', :class => 'cl-img' %>
						<span class="cl-title"><%= link_to truncate(product.name, :length => 42), product, :itemprop => "name", :title => product.name %></span>
						<span class="cl-price"><%= number_to_currency product.price %></span>
						<%= link_to "купить", product, :class => "cl-buy" %>
					</li>
					<% end %>
				<% end %>
				<% reset_cycle("classes") %>
				<% end %>
				</ul>
				<% if paginated_products.respond_to?(:num_pages) %>
				  <%= paginate paginated_products %>
				<% end %>
			</div>
		</div>
	</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>