	<div id="middle">
		<div class="middle-idx">
		
		<%= render :partial => 'spree/shared/taxonomies' %>
		
			<div class="right-idx">
				<ul class="bc">
					<%= breadcrumbs(@taxon) %> 
				</ul>
				
				
				<% unless @taxon.nil? %>
				<div class="catalogue-filter">
					<a href="#" class="cf-goods-link">фильтр по товарам</a>
					
					<ul class="cf-sort">
						<li>сортировать:</li>
						<li><%= nav_link "Название", :sort => "name" %></li>
						<li><%= nav_link "Популярность", :sort => "popularity" %></li>
						<li><%= nav_link "Цена", :sort => "price" %></li>
					</ul>
					
					<br class="clear" />
					
					<div class="cf-goods">
						<span class="cg-title">сортировка товаров</span>
						<a href="#" title="Закрыть" class="cg-close">Закрыть</a>
												
						<div class="cg-points" id="cg-category" style="margin-top: 30px;">
							<% @taxon.children.in_groups_of(1, false) do |row| %>
							  <ul class="cp-points-list">
								<% for taxon in row %>
								<li><%= link_to taxon.name, seo_url(taxon) %></li>  
								<% end %>   
							  </ul>
							<% end %>
						</div>
						
					</div>
				</div>
				<% end %>
				
				<%
				  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
				  paginated_products ||= products
				%>
				<% if products.empty? %>
				  <div class="no_product"><h1>К сожалению, товаров не найдено</h1></div>
				<% elsif params.key?(:keywords) %>
				  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
				<% end %>

				<% if products.any? %>
				<ul class="catalogue-list cl-inside">
				<% products.each do |product| %>
				<% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
				
					<li class="<%= cycle("cl-item-first", "", "", "cl-item-four", :name => "classes") %>">
						<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url', :class => 'cl-img' %>
						<span class="cl-title"><%= link_to truncate(product.name, :length => 42), product, :itemprop => "name", :title => product.name %></span>
						<span class="cl-price"><%= number_to_currency product.price %></span>
						<%= link_to "купить", product, :class => "cl-buy" %>
					</li>
					<% end %>
				<% end %>
				<% reset_cycle("classes") %>
				<% end %>
				</ul>
				<% if paginated_products.respond_to?(:num_pages) %>
				  <%= paginate paginated_products %>
				<% end %>
			</div>
		</div>
	</div>
	<%= render :partial => 'spree/shared/copyright' %>
	<div class="footer-space"></div>
</div>